* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 2rem;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #1b597d;
  color: #fff;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}

.navLinks {
  display: flex;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #ffa500;
}

.hero {
  position: relative;
  color: #fff;
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroOverlay {
  background: rgba(193, 193, 193, 0.623);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: auto;
}

.heroContent h1 {
  font-size: 3em;
  color: #043f5c;
}

.ctaButton {
  background-color: #49aee0;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.ctaButton:hover {
  background-color: #004161;
}

.services {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.services h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.serviceLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.serviceItem {
  background-color: #f4f7fa;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceItem img {
  width: 100%;
  height: 66.66%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.serviceItem h3,
.serviceItem p {
  margin: 1rem;
  text-align: center;
}

.serviceItem p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceItem:hover {
  transform: translateY(-5px);
  background-color: #e0e0e0;
}

.calculator {
  min-width: 800px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.calculator input,
.calculator button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

footer {
  background-color: #1b597d;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .calculator {
    min-width: 70%;
  }
}

@media (max-width: 992px) {
  .heroContent h1 {
    font-size: 2.5em;
  }

  .calculator {
    min-width: 90%;
  }

  .navLinks a {
    margin-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .heroContent h1 {
    font-size: 2em;
  }

  .ctaButton {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
  }

  .services h2 {
    font-size: 1.8rem;
  }

  .serviceItem {
    width: 45%;
  }

  .calculator {
    min-width: 100%;
  }
}

@media (max-width: 576px) {
  .heroContent h1 {
    font-size: 1.8em;
  }

  .ctaButton {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }

  .serviceItem {
    width: 100%;
  }

  .hero {
    height: 40vh;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #1b597d;
  }

  .navLinks.show {
    display: flex;
  }

  .navLinks a {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 2rem;
  }

  .calculator {
    width: 90%;
    min-width: unset;
  }
}
